<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>為替</title>
</head>
<body>
    <p>他の国のお金を日本円に変えてみよう！！</p>
    <p>1<%=  siraberuokane%> <%= hennkannsaretaokane%>円です</p>
    <p>下の空欄に変換したいお金を書いてね</p>
    <hr>
    <form action="/kawase">
        <input type="text" name="siraberuokane" required>
        
    </form>   
</body>
</html>